<!DOCTYPE html>
<html lang="en">

<%- include('layout/head',{pageTitle: 'Favorite' }) %>


    <body>
        <main>
            <%- include('layout/nav') %>
                <div class="conainer">
                    <% searchResults.forEach(book=> { %>
                        <div class="books">
                            <img src="<%= book.image_url %>" alt="<%=
                                    book.title %>">
                            <h3>
                                <%= book.title%>
                            </h3>
                            <h5> <strong>Author: </strong>
                                <%= book.author %>
                            </h5>
                            <h6> <strong>ISBN: </strong>
                                <%= book.isbn %>
                            </h6>
                            <p>
                                <%= book.description %>
                            </p>
                        </div>

                        <form action="/books" method="POST">
                            <input type="hidden" name="image_url" value="<%=book.image_url%>">
                            <input type="hidden" name="isbn" value="<%= book.isbn %>">
                            <input type="hidden" name="title" value="<%= book.title %>">
                            <input type="hidden" name="author" value="<%= book.author %>">
                            <input type="hidden" name="description" value="<%=book.description %>">
                            <button> Select this Book </button>
                        </form>
                </div>
                <% }) %>

        </main>
    </body>

</html>