<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/reset.css">
  </head>
  <body>
    <p>Number of Books you have: <%= booksQty %></p>
      <main>
        <div class="conainer">
          <% searchResults.forEach(book=> { %>
            <div class="books">
              <img src="<%= book.image_url %>" alt="<%= book.title %>" >
                <h3><%= book.title%></h3>
                  <h5> <strong>Author: </strong> <%= book.author %></h5>
                    <h6> <strong>ISBN: </strong> <%= book.isbn %></h6>
                      <p><%= book.description %></p>
                      </div>
                      <% }) %>
                      </div>
                    </main>
                  </body>
                </html>